<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h4>Reactive Form Example</h4>
    </div>
  </div>

  <form [formGroup]="formDetails">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-input">
          <input type="email" class="form-control" name="email" id="email"
                 formControlName="email"
                 placeholder="Enter your email address" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-input">
          <input type="text" class="form-control" name="phNumber" id="phNumber"
                 formControlName="phoneNumber"
                 placeholder="Enter your phone number" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-input">
          <input type="text" class="form-control" name="fullName" id="fullName"
                 formControlName="fullName"
                 placeholder="Enter your full name" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-input">
          <input type="text" class="form-control" name="age" id="age"
                 formControlName="age"
                 placeholder="Enter your age" />
        </div>
      </div>
    </div>

  </form>

  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-sm btn-danger">Cancel</button>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-sm btn-outline-primary float-end" (click)="onSubmitForm()">Submit</button>
    </div>
  </div>
</div>
