<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h4>Table Example</h4>
    </div>
  </div>

  <div class="row">
    <div class="com-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>S.N.</td>
            <td>Name</td>
            <td>Age</td>
            <td>Address</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userDetails; let i = index;">
            <td>{{i + 1}}</td>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.address}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
